@use "../utils/colors" as colors;

button {
    cursor: pointer;
}
.btn-blue {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: colors.$backgroundColor;
    background: colors.$hoverColor;
    border: none;
    padding: 10px 32px;
    position: relative;
    z-index: 1;
    border-radius: 4px;
}

.btn-light {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    padding: 6px 20px;
    background-color: colors.$backgroundColorStaff;
}

.btn-light:hover {
    color: colors.$backgroundColor;
    background: colors.$hoverColor;
}