@use "../utils/colors" as colors;
@use "../utils/config" as padding;

header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
    padding: 32px padding.$padding-main-header;
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    nav {
        display: flex;
        align-items: center;
        gap: 97px;
        .logo {
            display: block;
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            color: colors.$hoverColor;
        }
        ul {
            li {
                position: relative;
            }
        }
    }
    .nav-contact {
        li {
            .menu-burguer {
                display: none;
            }
            .links-contact {
                display: flex;
                align-items: center;
                gap: 10px;

                color: colors.$grayColor;
                fill: colors.$grayColor;
            }
        }
    }
    .menu-popUp {
        background-color: white;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        height: auto;
        overflow-y: auto;
        button {
            position: fixed;
            right: 10px;
            top: 15px;
            width: 40px;
            height: 40px;
            background: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                fill: colors.$bodyColor;
            }
        }
        button:hover svg, button:focus svg {
            fill: colors.$hoverColor;
        }
        .menu-modal {
            position: absolute;
            font-weight: 500;
            height: 100%;
            &__nav {
                display: flex;
                flex-direction: column;
                gap: 36px;
                padding: 50px 0 0 35px;
                font-size: 40px;
                line-height: 47px;
                letter-spacing: 0.02em;
            }
            &__nav li:hover a, &__nav li:focus a {
                color: colors.$hoverColor;
            }
            &__contact {
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding: 300px 0 0 35px;
                a{
                    font-size: 24px;
                    line-height: 28px;
                    color: colors.$grayColor;
                }
                li:nth-child(1) {
                    a{
                        font-size: 34px;
                        line-height: 40px;
                        letter-spacing: 0.02em;
                        color: colors.$hoverColor;
                    }
                }
            }
            &__social-media {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 65px 0 47px 35px;
                li{
                    padding: 0 9px;
                    border-left: 1px solid rgba(33, 33, 33, 0.2);
                    a{
                        font-size: 18px;
                        line-height: 22px;
                        color: colors.$hoverColor;
                    }
                }
                li:nth-child(1) {
                    padding-left: 0;
                    border-left: none;
                }
            }
        }
    }
    .popUp-hidden {
        display: none;
    }
    .links {
        li {
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.02em;
        }
    }
}
.nav {
    display: flex;
    align-items: center;
}
.nav-main,
.nav-contact {
    padding-inline-start: 0;
    gap: 50px;
}
.nav-main {
    &__line:hover::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -36px;
        right: 0;
        width: 100%;
        height: 5px;
        border-radius: 2.5px;
        background-color: colors.$hoverColor;
    }
}

header .nav-contact li .links-contact:focus,
header .nav-contact li .links-contact:hover,
header nav .nav-main li:hover a,
header nav .nav-main li:focus a,
header .nav-contact li .links-contact:hover .links-contact__icon {
    color: colors.$hoverColor;
    fill: colors.$hoverColor;
}
.logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: colors.$hoverColor;
}


@media screen and (min-width:660px) and (max-width:900px) {
    
    header {
        padding: 26px 15px;
        .links {
            li {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
    .nav-contact {
        flex-direction: column;
        gap: 10px;
        max-width: 160px;
    }
    .nav {
        align-items: flex-start;
    }
}
@media screen and (min-width:321px) and (max-width:659.5px) {
    header {
        padding: 26px 15px;
        nav {
            .logo {
                font-size: 24px;
                line-height: 28px;
            }
        }
        .nav-contact {
            gap: 0;
            li {
                .menu-burguer {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center
                }
                .links-contact {
                    display: none;
                }
            }
        }
        .nav-main {
            display: none;
        }
    }
}
@media screen and (max-width:320.5px) {

    header {
        padding: 26px 15px;
        nav {
            .logo {
                font-size: 24px;
                line-height: 28px;
            }
        }
        .nav-contact {
            gap: 0;
                li {
                    .menu-burguer {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center
                    }
        
                    .links-contact {
                        display: none;
                    }
                }
            }
        .nav-main {
            display: none;
        }
    }

}
